<h1>{{title}}</h1>
<div class="al-lado">
  <p class="texto">Search:</p>
  <div class="buscar">
    <input nz-input #texToSearchBox type="text" (keyup)="toSearch(texToSearchBox.value)" class="buscar_texto" placeholder="Type here for filtering"> 
     <a href="" class="boton">
         <i class="icon-buscar"></i>
     </a>
  </div>
  <button class="boton" nz-button nzType="primary" (click)="newProperty.emit()">New property</button>
</div> 
