h1{
    color: #345D52;
    text-align: left;

 }
 .texto{
    padding: 10px;
    font-size: 14px;
    color: #345D52;
    margin: 0 20px;
}
.al-lado{
    display: flex;
  }
.boton{
    margin: 0 auto;
    margin-right: 30px;
 }
 