.titulo{
    color: #345d52;
    text-align: center;
}
.parrafo{
    padding: 10px;
    font-size: 14px;
    color: #345D52;
    margin: 0 20px;
}
.bloque{
    padding: 10px;
    max-width:1200px;
    min-width: 250px;
 margin: 0 auto;
}
