<nz-table #basicTable [nzShowPagination]="false">
    <tr>
        <th>IDPropiedades</th>
        <td>{{data.IDPropiedades}}</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>{{data.Nombre}}</td>
    </tr>
    <tr>
        <th>Descripcion</th>
        <td>{{data.Descripcion}}</td>
    </tr>
    <tr>
        <th>Since</th>
        <td>{{data.Since}}</td>
    </tr>
    <tr>
        <th>IDPerfilBanco</th>
        <td>{{data.IDPerfilBanco}}</td>
    </tr>
    <tr>
        <th>Valor</th>
        <td>{{data.Valor}}</td>
    </tr>
</nz-table>