<nz-table #basicTable [nzData]="entities" [nzShowPagination]="false" [nzScroll]="{ x: '1200px', y: '600px' }">
    <thead>
        <tr>
            <th nzLeft>Nombre</th>
            <th>Descripcion</th>
            <th>Since</th>
            <th>Valor</th>
            <th nzRight>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of basicTable.data">
            <td nzLeft>{{record.Nombre}}</td>
            <td>{{record.Descripcion}}</td>
            <td>{{record.Since}}</td>
            <td>{{record.Valor}}</td>
            <td nzRight>
                <div nz-row>
                    <div nz-col>
                        <button (click)="onView(record)" nz-button nzType="default">View</button>
                    </div>
                    <div nz-col>
                        <button (click)="onEdit(record)" nz-button nzType="default" style="margin-left: 5px;">Edit</button>
                    </div>
                    <div nz-col>
                        <button (click)="onDelete(record)" nz-button nzDanger nzType="default" style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>
<!-- <pre>{{ entities | json }}</pre> -->