@import "../theme.scss";

.pagina {
    margin: 0 auto;
    padding: 0;
    background-color: $back-color1;
    max-width: 1200px;
    min-width: 300px;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px 0px 4px 2px #4457ff83;
    .content {
        padding: 16px;
    }
}