<div class="pagina">
    <app-header>
        <app-login-box></app-login-box>
    </app-header>
    <div class="content">
        <a routerLink="/demo" routerLinkActive="active">Demo components</a> -
        <a routerLink="/crud" routerLinkActive="active">Properties</a>
        <nz-divider></nz-divider>
        <router-outlet></router-outlet>
    </div>
</div>