@import "../../../theme.scss";
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
.card-box {
    min-width: 200px;
    box-shadow: $shadow1;
    &:hover {
        box-shadow: $shadow1-hover;
    }
}