<h1>Proyecto: Reportes</h1>




<!--  -->
<!-- <div nz-col nzSpan="12">
  <nz-card class="card-box" nzTitle="tipografia" nzType="inner" [nzBodyStyle]="{'overflow': 'auto', 'height': '20em'}">

  </nz-card>
</div> -->

<div nz-row [nzGutter]="[16, 16]">

    <!-- ICONOS -->
    <div nz-col nzSpan="12">
        <nz-card class="card-box" nzTitle="ICONOS" nzType="inner"
            [nzBodyStyle]="{'overflow': 'auto', 'height': '20em'}">
            <i nz-icon nzType="star" nzTheme="outline"></i>
            <i nz-icon nzType="star" nzTheme="fill"></i>
            <i nz-icon nzType="star" nzTheme="twotone"></i>
            <nz-divider></nz-divider>
            <i style="font-size: 3em;" nz-icon nzType="home" nzTheme="outline"></i>
            <i style="font-size: 3em;" nz-icon nzType="home" nzTheme="fill"></i>
            <i style="font-size: 3em;" nz-icon nzType="home" nzTheme="twotone"></i>
            <nz-divider></nz-divider>
            <i style="font-size: 2em; color: red;" nz-icon nzType="frown" nzTheme="outline"></i>
            <i style="font-size: 2em; color: red;" nz-icon nzType="frown" nzTheme="fill"></i>
            <i style="font-size: 2em;" nz-icon nzType="frown" nzTheme="twotone"></i>
        </nz-card>
    </div>

    <!-- BOTONES -->
    <div nz-col nzSpan="12">
        <nz-card class="card-box" nzTitle="BOTONES" nzType="inner"
            [nzBodyStyle]="{'overflow': 'auto', 'height': '20em'}">

            <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="search"></i></button>
            <button nz-button nzType="primary" nzShape="circle">A</button>
            <button nz-button nzType="primary">
                <i nz-icon nzType="search"></i>
                Search
            </button>
            <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="search"></i></button>
            <button nz-button nzType="default">
                <i nz-icon nzType="search"></i>
                Search
            </button>
            <br />
            <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="search"></i></button>
            <button nz-button nzType="default">
                <i nz-icon nzType="search"></i>
                Search
            </button>
            <button nz-button nzType="dashed" nzShape="circle"><i nz-icon nzType="search"></i></button>
            <button nz-button nzType="dashed">
                <i nz-icon nzType="search"></i>
                Search
            </button>

        </nz-card>
    </div>

    <!-- TIPOGRAFIA -->
    <div nz-col nzSpan="12">
        <nz-card class="card-box" nzTitle="TIPOGRAFIA" nzType="inner"
            [nzBodyStyle]="{'overflow': 'auto', 'height': '20em'}">
            <h1 nz-typography>h1. Ant Design</h1>
            <h2 nz-typography>h2. Ant Design</h2>
            <h3 nz-typography>h3. Ant Design</h3>
            <h4 nz-typography>h4. Ant Design</h4>
            <h5 nz-typography>h5. Ant Design</h5>

            <nz-divider></nz-divider>
            <p nz-typography nzEditable>este texto es editable</p>

            <nz-divider></nz-divider>
            <div nz-typography>Ant Design (default)</div>
            <div nz-typography nzType="secondary">Ant Design (secondary)</div>
            <div nz-typography nzType="success">Ant Design (success)</div>
            <div nz-typography nzType="warning">Ant Design (warning)</div>
            <div nz-typography nzType="danger">Ant Design (danger)</div>
            <div nz-typography nzDisabled>Ant Design (disabled)</div>
            <div nz-typography><mark>Ant Design (mark)</mark></div>
            <div nz-typography><code>Ant Design (code)</code></div>
            <div nz-typography><kbd>Ant Design (keyboard)</kbd></div>
            <div nz-typography><u>Ant Design (underline)</u></div>
            <div nz-typography><del>Ant Design (delete)</del></div>
            <div nz-typography><strong>Ant Design (strong)</strong></div>
        </nz-card>
    </div>

    <!-- CALENDARIO -->
    <div nz-col nzSpan="12">
        <nz-card class="card-box" nzTitle="CALENDARIO" nzType="inner"
            [nzBodyStyle]="{'overflow': 'auto', 'height': '20em'}">
            <nz-date-picker></nz-date-picker>
            <nz-range-picker></nz-range-picker>
        </nz-card>
    </div>

</div>