<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombre" nzRequired nzTooltipTitle="What do you want other to call you">
            <span>Nombre</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
            <input nz-input id="nombre" formControlName="Nombre" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="decripcion" nzRequired nzTooltipTitle="What do you want other to call you">
            <span>Descripción</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your decription!">
            <input nz-input id="decripcion" formControlName="Descripcion" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="since" nzRequired nzTooltipTitle="What do you want other to call you">
            <span>Since</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your since!">
            <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="Since"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="valor" nzRequired nzTooltipTitle="What do you want other to call you">
            <span>Valor</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your value!">
            <input nz-input id="valor" formControlName="Valor" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="idPerfilBanco" nzRequired nzTooltipTitle="What do you want other to call you">
            <span>IDPerfilBanco</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your value!">
            <input nz-input id="idPerfilBanco" formControlName="IDPerfilBanco" />
        </nz-form-control>
    </nz-form-item>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
    </div>
</form>