.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   [nz-form] {
  //     max-width: 600px;
  //   }
  nz-card {
      width: 100%;
    min-width: 350px;
    max-width: 500px;
  }

  button {
    margin: 8px 8px 8px 0;
  }
}
