<div class="login-page">
    <nz-card nzTitle="Inicio de sesión" [nzExtra]="extraTemplate">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Usuario</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <input nz-input formControlName="login" placeholder="Email" type="email" />
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">Esto no es un email válido</ng-container>
                        <ng-container *ngIf="control.hasError('required')">Debe proveer un email como nombre de usuario</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Clave</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor ingrese su clave">
                    <input nz-input placeholder="Contraseña" type="password" formControlName="password" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">
            Submit
          </button>
                    <button nz-button (click)="resetForm($event)">Reset</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
    <ng-template #extraTemplate>
        <a routerLink="/">Regresar</a>
    </ng-template>
</div>