<div class="login-box">
    <ng-container *ngIf="isLogged">
        <div class="usuario">{{ data?.usuario }}</div>
        <div class="role">{{ data?.role }}</div>
        <div class="accion"><a [routerLink]="actions.logout.path">{{ actions.logout.label }}</a></div>
    </ng-container>
    <ng-container *ngIf="!isLogged">
        <div class="accion"><a nz-button nzType="primary" [routerLink]="actions.login.path">{{ actions.login.label }}</a></div>
    </ng-container>
</div>