.login-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .usuario {
        font-size: 1.2em;
        font-weight: 600;
    }
    // div {
    //     border: 1px solid red;
    // }
}