@import "../../../theme.scss";

.header{
    background-color: $back-color2;
    padding: 8px;
    .product {
            color: $secondary-color;
            border: 1px solid $primary-color;
            padding: 5px 5px 0 5px;
            box-shadow: 0px 0px 4px 2px rgba(128, 128, 128, 0.33);
            background-color: $back-color3;
            font-family: 'Abril Fatface';
            font-weight: 900;
            line-height: 0.8em;
            border-radius: 0 3em 3em 0;
            overflow: hidden;
            white-space: nowrap;
        .descripcion {
            font-size: 0.5em;
            font-weight: 500;
        }
        &__grande {
            font-size: 3em;
        }
        &__pequenio {
            font-size: 1.8em;
        }
    }
    .session {
        color: $secondary-color;
    }
}