<!-- <header class="header" nz-row [nzGutter]="[40, 40]" nzJustify="space-between" nzAlign="middle"> -->
<header class="header" nz-row nzAlign="middle">
  <div
    nz-col
    [nzXs]="{ span: 4 }"
    [nzSm]="{ span: 3 }"
    [nzMd]="{ span: 3 }"
    [nzXl]="{ span: 3 }"
    class="logo"
  >
    <div class="img">
      <img src="assets/logo.png" alt="" style="width: 100%" />
    </div>
  </div>
  <div
    nz-col
    [nzXs]="{ span: 0, offset: 0 }"
    [nzSm]="{ span: 9, offset: 1 }"
    [nzMd]="{ span: 0, offset: 0 }"
    [nzXl]="{ span: 0, offset: 0 }"
    class="product product__pequenio"
  >
    <div class="abreviatura">{{ product.abreviatura }}</div>
    <div class="descripcion">{{ product.descripcion }}</div>
  </div>
  <div
    nz-col
    [nzXs]="{ span: 0, offset: 0 }"
    [nzSm]="{ span: 0, offset: 0 }"
    [nzMd]="{ span: 11, offset: 1 }"
    [nzXl]="{ span: 14, offset: 1 }"
    class="product product__grande"
  >
    <div class="abreviatura">{{ product.abreviatura }}</div>
    <div class="descripcion">{{ product.descripcion }}</div>
  </div>
  <div
    nz-col
    [nzXs]="{ span: 16, offset: 4 }"
    [nzSm]="{ span: 10, offset: 1 }"
    [nzMd]="{ span: 8, offset: 1 }"
    [nzXl]="{ span: 5, offset: 1 }"
    class="session"
  >
    <ng-content select="app-login-box"></ng-content>
  </div>
</header>
