<nz-result
  nzStatus="success"
  nzTitle="Usted ha salido del sistema correctamente"
  nzSubTitle="Es importante que salga del sistema de la manera adecuada para evitar fallas de seguridad debido a sesiones abiertas abandonadas."
>
  <div nz-result-extra>
    <button nz-button nzType="primary" routerLink="/">Ir al inicio</button>
  </div>
</nz-result>
