$primary-color: #76ff44;
$secondary-color: #E4E5E3;
$back-color1: #e9fcf6;
$back-color2: rgb(0, 0, 30);
$back-color3: #44ffe03d;
$text-color1: rgb(48, 48, 48);
$text-color2: rgb(64, 64, 64);
$text-color3: rgb(100, 100, 100);
$shadow1: 0px 0px 4px 2px rgba(128, 128, 128, 0.33);
$shadow1-hover: 0px 0px 6px 4px #4aff447c;
// #4457FF