<app-header-pagina (newProperty)="onNewProperty()" (textToSearch)="onTextSearch($event)" [title]="title"></app-header-pagina>
<app-table-entities (view)="onView($event)" (edit)="onEdit($event)" (delete)="onDelete($event)" [entities]="entitiesToShow"></app-table-entities>